<h1 class="intro">My Certifications</h1>

<div class="image-row">
    <img src="ncsu-logo.png" alt="NCSU Logo" style="width: 90px; height: auto;">
    <img src="angular-logo.jpg" alt="Angular Logo" style="width: 50px; height: auto;">
    <img src="java-logo.png" alt="Java Logo" style="width: 90px; height: auto;">
    <img src="react-logo.png" alt="React Logo" style="width: 60px; height: auto;">
    <img src="gcp-logo.png" alt="GCP Logo" style="width: 100px; height: auto;">
</div>
<p>
    NCSU Bachelor's in Computer Science
</p>
<p>
    I graduated from NC State with a 3.23 GPA. While there I became most familiar with Angular, Java, React, Express, and Google services like GCP and Firebase. Also learning about useful data structures, networking concepts, and software engineering basics.
</p>

<img src="comptia-logo.png" alt="CompTIA Logo" class="image-formatting" style="width: 120px;">
<p>
    CompTIA Network+
</p>
<p>
    This certification helped me learn the basics of navigating computer networks and security.
</p>
<p>
    CompTIA A+
</p>
<p>
    While completing this certification I got more familiar with the basics of troubleshooting, hardware, software, networking, security, OSes, mobile devices, and best practices.
</p>

<p>
    EPA 608 Type 1
</p>
<p>
    I completed the EPA 608 Type 1 certification for working with refrigerants in small appliances.
</p>

<p>
    ServSafe Food Handler
</p>
<p>
    My ServSafe Food Handler certification taught best practices for safe food handling.
</p>