.intro {
  font-size: 30px;
  text-align: center;
  padding: 25px;
}

.title {
    padding: 30px;
    text-align: center;
    text-decoration: underline;
}

p {
    padding: 15px;
    text-align: center;
    font-size: 20px;
}

.image-formatting {
    width: 50px;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}