<h1 class="intro">Hello, welcome to my portfolio website. My name is Isaiah Benzoni.</h1>
<img src="ncsu-logo.png" alt="NCSU Logo" class="image-formatting" style="width: 90px;">

<h1 class="intro">I graduated from NC State in 2024 with a Bachelor's degree in Computer Science. More recently I've completed my CompTIA A+ and Network+ certifications.</h1>

<h1 class="intro">I'm currently looking for entry level roles in IT.</h1>

<h1 class="title">Work Experience</h1>

<p>
    Domino’s, Delivery Driver / Team Member:
</p>
<p>
    My position here helped me gain customer service experience managing the orders and cash register. Plus experience preparing food and making deliveries in a team environment.
</p>

<p>
    Pierson Computing Connection, Configuration Associate:
</p>
<p>
    I mostly performed Chromebook configuration & delivery. Also, I got to do some cable terminations, runs, & testing along with a few AV installs.
</p>

<p>
    Towne Properties, Park Attendant:
</p>
<p>
    During my shifts, I disconnected electric gate from motor during power outage, allowing manual operation. Helped resolve a rock throwing incident, reunited lost dogs with their owners, and performed park maintenance tasks e.g. guest sign-in, trash & recycling, refill supplies, etc.
</p>

<h1 class="title">Projects</h1>

<img src="angular-logo.jpg" alt="Angular Logo" class="image-formatting">
<p>
    Portfolio Website
</p>
<p>
    Built using the Angular framework. The other pages contain links to my GitHub and LinkedIn plus further certification details.
</p>
<p>
    PC Setup
</p>
<p>
    I set up a PC to run File History backups and a remotely accessible video game server for ARK.
</p>